@model Fresenius.Data.Sparepart

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sparepart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameEn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameRus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameRus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
             <img src="@Model.Image" asp-append-version="true" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country.Id) @Html.DisplayFor(model => model.Country.Nam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Equipment.Id) @Html.DisplayFor(model => model.Equipment.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer.Id)  @Html.DisplayFor(model => model.Manufacturer.NameFull)  @Html.DisplayFor(model => model.Manufacturer.NameShort)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
